:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --background-color-app: #263238;
    --background-color-child: #0a0e0f;
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:  'Times New Roman', Times, serif, sans-serif;
    box-sizing: border-box;
    background-color: var(--background-color-app);
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}