*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #0a0e0f;
    color: #fff;
    height: 66px;
    line-height: 66px ;
    font-size: 1.6rem;
}


.header .header__wapper {
    padding: 0 20px;
    margin: 0 49px;
    display: flex;
    justify-content: space-between;
}

/* CSS header logo */
.header__wapper .header-logo{
    /* max-width: 11rem; */
    margin-right: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wapper .nav {
    flex: 3;
}



/* css navbar */
.nav .nav-navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

.nav-navbar .nav-list-item {
    text-transform: uppercase;
}

.nav-navbar .nav-list-item .nav-list-link {
    text-decoration: none;
    color: #fff;
}

/* css header action */
.header__wapper .header-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-action .header__action-fromIcon{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    
}

.header-action .header__action-fromIcon input{
    background-color: rgba(0, 0, 0, 0.419);
    border: 1px solid #818a8f ;
    padding: 0.8rem 1rem 0.8rem 4rem;
    color: #fff;
    border-radius: 0.5rem;

    
}

.header-action .header__action-fromIcon input::placeholder{
    color: #fff;
    padding: 10px;
    opacity: .5;
}
.header-action .header__action-fromIcon .searchsubmit {
    padding: 0.1rem 1rem 0.3rem 1rem;
    border: 1px solid #818a8f ;
    border-right: none;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    overflow: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: .5;

    
}
.header-action .header__action-login{
    padding-left: 10px;
    
}

.header__action-login .header__action-link{
    text-decoration: none;
    background-color: #b71c1c;
    color: #fff;
    line-height: 37px;
    padding: 0 1.6rem 0.3rem 1.6rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
}

/* css container */

.container{
    padding: 2rem;
    margin: 0 5rem;
    font-size: 1.6rem;
}

.content__wapper{
    padding:  1.8rem;
    background-color: var(--background-color-child);
    border-radius: 0.5rem;
}

/* CSS thông báo */
.content__wapper .announcement{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #2d2d2d;
    color: var(--white-color);

}

/*  css icon thông báo*/
.announcement .announ__title i{
    font-size: 2.2rem;
    background-color: var(--background-color-child);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}
/* Css text thông báo */
.announ__text .announ__text-list{
    padding-left: 4rem;
    margin-bottom: 1.6rem;
}

.announ__text .announ__text-list .announ__text-item{
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
    color: #f3dd3d;
}

.announ__text-list .announ__text-item .announ__text-link{
    color: #e62117;
    text-decoration: none;
}

.announ__text-list .announ__text-item .announ__text-link:hover{
    color: #28a745;
}

/* CSS anime đề cử */
.nominate-movie{
    margin-bottom: 1.6rem;
}

.nominate-movie .nominate-pr{
    padding: 0 1rem;
}


.nominate-link .nominate-img
, .nominate-cd
, .nominate-pr{
    display: inline-block;
}

.nominate-link .nominate-img{
    position: relative;
}

.nominate-link .nominate-exp
, .nominate-eps
, .nominate-title{
    position: absolute;
}

/* css đánh giá */
.nominate-link .nominate-eps{
    top: 0.5rem;
    left: 0;
    padding: 0.7rem 1.2rem;
    margin: 0 0 0.7rem 0.7rem;
    background-color: rgba(0,0,0,.65);
    border-radius: 2rem;
    transition: opacity .15s linear;
    color: #f3dd3d;
}

/* css số tập */
.nominate-link .nominate-exp{
    top: 0.5rem;
    right: 0;
    padding: 0.7rem 1.2rem;
    margin: 0 0.7rem 0.7rem 0;
    background-color: rgba(183,28,28,.9);
    border-radius: 0.4rem;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    text-transform: uppercase;
    color: var(--white-color);
}

/* css tên anime  */
.nominate-link .nominate-title{
    bottom: 0;
    left: 0;
    right: 0;
    max-height: none;
    padding: 5rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
    pointer-events: none;
    color: var(--white-color);
    text-align: center;
    font-weight: 400;
}
.nominate-link .nominate-img img{
    width: 18rem;
    height: 25rem;
}

/* Css main__wrapper */

.main__wrapper{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
}
main {
    flex: 2;
    padding-right: 20px;
    border: 1px solid #fff;
    
}

aside{
    flex: 1;
    border: 1px solid #fff;

}


/* CSS footer */
.footer {
    padding: 0 2rem;
    margin: 0 5rem;
    font-size: 1.6rem;
}



.footer__wapper {
    padding:  2rem;
    background-color: var(--background-color-child);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__wapper .nav {
    flex: 2;
}



/* social list */
.social .social-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 25rem;
}

.social .social-list-item {
    background-color: #888888 ;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    padding-top: 0.2rem;
}
.social .social-list-item .social-list-link{
    color: #0f1416;
}

.social .social-list-item:hover .social-list-link{
    color: #fff;
}

/* footer desc */
.footer__Desc {
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer__Desc a {
    text-decoration: none;
    color: #6c8490;
}

.footer__Desc .footer__Desc-contact,
.footer__Desc-copyright{
    margin: 1.5rem 0;
}
